- name: Setup OCI CLI
        uses: oracle-actions/setup-oci-cli@v1.3.2  # @v1 အစား version အပြည့်အစုံ သုံးကြည့်ပါ
        with:
          user_ocid: ${{ secrets.OCI_USER_OCID }}
          tenancy_ocid: ${{ secrets.OCI_TENANCY_OCID }}
          fingerprint: ${{ secrets.OCI_FINGERPRINT }}
          region: ${{ secrets.OCI_REGION }}
          private_key: ${{ secrets.OCI_KEY_FILE }}
