name: Oracle Cloud Instance Requester
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  launch-instance:
    runs-on: ubuntu-latest
    steps:
      - name: Install OCI CLI
        run: |
          curl -L -O https://raw.githubusercontent.com/oracle/oci-cli/master/scripts/install/install.sh
          chmod +x install.sh
          ./install.sh --accept-all-defaults
          echo "/home/runner/bin" >> $GITHUB_PATH

      - name: Configure OCI CLI
        run: |
          mkdir -p ~/.oci
          echo "[DEFAULT]" > ~/.oci/config
          echo "user=${{ secrets.OCI_USER_OCID }}" >> ~/.oci/config
          echo "fingerprint=${{ secrets.OCI_FINGERPRINT }}" >> ~/.oci/config
          echo "tenancy=${{ secrets.OCI_TENANCY_OCID }}" >> ~/.oci/config
          echo "region=${{ secrets.OCI_REGION }}" >> ~/.oci/config
          echo "key_file=~ ~/.oci/key.pem" >> ~/.oci/config
          echo "${{ secrets.OCI_KEY_FILE }}" > ~/.oci/key.pem
          chmod 600 ~/.oci/key.pem ~/.oci/config

      - name: Try Create Instance
        run: |
          oci compute instance launch \
          --compartment-id "${{ secrets.COMPARTMENT_ID }}" \
          --availability-domain "Kres:AP-SINGAPORE-1-AD-1" \
          --shape "VM.Standard.E2.1.Micro" \
          --subnet-id "${{ secrets.SUBNET_ID }}" \
          --image-id "${{ secrets.IMAGE_ID }}" \
          --assign-public-ip true \
          --display-name "MyFreeServer" \
          --metadata "{\"ssh_authorized_keys\": \"${{ secrets.SSH_PUBLIC_KEY }}\"}"
